.color-one {
    background-color: hsl(10 100% 50%);
  }
  .color-two {
    background-color: hsl(60 100% 50%);
  }
  .shorter {
    background-color: color-mix(
      in hsl shorter hue,
      hsl(10 100% 50%),
      hsl(60 100% 50%)
    );
  }
  .longer {
    background-color: color-mix(
      in hsl longer hue,
      hsl(10 100% 50%),
      hsl(60 100% 50%)
    );
  }