.comoany-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: grey;
    border: none;
    border-radius: 0.625rem;
    margin: 1.5rem;
    width: 300px;
    overflow: hidden;
}
.company-logo{
    font-size: 0.rem;
    font-weight: 500;
    color: grey;
    display: flex;
    gap:0.5rem ;
}
.svg-img{
    height: 40px;
}
.logo-text{
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
}
